
# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:diogocorreia.pt
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^diogocorreia.pt$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:diogocorreia.pt

# This checks to make sure the connection is not already HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
# This rule will redirect users from their original location to the same location but using HTTPS
# i.e.  http://www.example.com/foo to https://www.example.com/foo

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=302,L]
# To externally (on the URL) redirect /dir/foo.php to /dir/foo except on /admin/pages/index.php page and on /send_email.php page

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*?)/?$ $1.html [NC,L]
# To internally (inside the server) forward /dir/foo to /dir/foo.html

IndexOptions FancyIndexing

RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+?)/?$ $1.html [L]


# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:ralli9-20.pt
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^ralli9-20.pt$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:ralli9-20.pt
