footer {
    background-color: #011897;
    width: 100%;
}

footer>ul {
    text-align: center;
    margin: 0; 
}

footer>ul>li {
    display: inline-block;    
}

#footer-menu {
    padding: 20px;
    margin: 0;
}

#footer-menu>li {
    padding: 2px;
}

#footer-menu>li>a {
    color: white;
}

#nucleos {
    
}

#nucleos>li {
   display: inline-block; 
}

#nucleos>li>a {

}

#nucleos>li>a>img {
    width: 75px;    
}