@media only screen and (min-width: 480px) {
  .navbar-container {
    margin: 0 550px;
  }
  
  footer {
    padding: 0 550px;
  }
}

body {
    overflow-x: hidden;
    margin: 0 !important;
    font-family: monospace;
    background-color: #64F13B;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #011897;
    text-decoration: none;
}

a:hover {
     color: #011897; 
     text-decoration: none; 
     cursor: pointer;  
}

.centered-content {
    margin-top: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

li {
    list-style-type: none;
    color: #011897;
}

p {
    color: #011897;
}

ul {
    padding: 0;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
  transition: 0.4s;
  border-color: #011897;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(134deg);
  -webkit-transform: rotate(134deg);
}

footer {
    background-color: #011897;
    width: 100%;
    height: 130px;
    height: 160px;
}

footer>ul {
    padding: 20px;
    margin: 0;
}

footer>ul>li>a {
    color: #64F13B;
}

/* Barra de navegação */

.navbar-container {
    
}

.themed-button {
    background-color: #64F13B;
    cursor: pointer;
}

.themed-button:hover {
}

#navbar-wrapper {
    text-align: center;
    background-color: #64F13B;
    padding-top: 30px;
}

#button-logo {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    box-shadow: 0px 6px 5px -5px black;
}

#logo {
    font-size: 45px;
    font-family: monospace;
}

#navbar {
    margin-top: 30px;
    background-color: #64F13B;
    box-shadow: 0px -4px 3px -4px black;
}

#navbar>ul {
    padding-top: 30px;
    align-items: center;
    margin-top: 65px;
    padding-left: 0;
}

#navbar>ul>li {
    display: inline-block;
    width: 75px;
    height: 75px;
    position: relative;
    font-size: 14px;
    font-weight: bolder;
    border: 1.2px solid #011897;
    margin: 7px;
    transition: 0.4s;
}

#arrow-container {
    margin-top: 30px;
}

/* RANKING */

#ranking-container {
    text-align: center;
    margin-top: 40px;
}

#ranking-title {
    font-size: 45px;
}

#loading-bar {
    height: 4px;
    width: 0px;
    background-color: #011879;
    transition: 5s;
}

#ranking-list{
    margin-bottom: 25px;
    text-align: right;
    padding: 28px;
    transition: 0.8s;
}

#ranking-list>li {
    font-size: 18px;
    padding: 10px 0;
    padding-bottom: 0px;
    border-bottom: 1.2px solid #011897;
    font-weight: bold;
}

#first-place {
    font-size: 28px !important;
    font-weight: bolder;
}

#second-place {
    font-size: 24px !important;
    font-weight: bolder;
}

#third-place {
    font-size: 21px !important;
    font-weight: bolder;
}

.lugar {
    display: inline-block;
    float: left;
    margin-top: 10px;
}

.pontos {
    font-size: 15px;
    font-weight: 100;
    margin: 0;
    margin-top: -10px;
}

#first-place>.pontos {
    font-size: 21px;
}

#second-place>.pontos {
    font-size: 19px;
}

#third-place>.pontos {
    font-size: 17px;
}